{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block body %}
  {% call f.form_tag(css_class="col-md-4 mx-auto card card-body bg-light", endpoint="user.register") %}
    <legend class="text-center">Register to use our service</legend>
    {{ form.csrf_token }}
    {{ f.form_group(form.email) }}
    {{ f.form_group(form.password) }}
    {{ f.form_group(form.confirm) }}
    <button type="submit" class="btn btn-primary btn-block mx-auto">
        Register
    </button>
    {% endcall %}
{% endblock %}